main {
  width: min(70rem, 100% - 4rem);
  margin: 2rem auto;
}

.rating span {
  color: #ffc000;
}

.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
  border-width: 0px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-outline-primary:hover,
.btn-outline-primary:focus {
  background-color: #d3a62c;
}

a {
  text-decoration: none;
}

.card-img-top {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 350px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.img-thumbnail {
  height: 200px;
}

.small-container {
  max-width: 600px;
}

.current-page-number {
  color: #000000;
  background-color: #f0c040;
}