.App-header {
    color: white;
}

.align-arrow-right {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 1024px) {
    .align-arrow-right {
        visibility: collapse;
    }
}